{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
      <div class="col-md-10 center-block" style="float:none;">
        <table id="logtable" class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Execution Date & Time</th>
                <th class="text-center">Total Epoch</th>
                <th class="text-center">Elapsed Time (sec)</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
          <tbody>
            {% for log in log_files %}
            <tr>
              <td class="text-center">{{ log.date }}</td>
              <td class="text-center">{{ log.epoch }}</td>
              <td class="text-center">{{ log.elapsed_time }}</td>
              <td class="text-center"><a class="btn btn-default" href={{ log.href }} role="button">Show</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/script/script.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
{% endblock %}
